.hide{
	display: none;
}
.show{
	display: block;
	

}


body{
	height: 1000px;
	background-image: url('http://vnews.agency/uploads/1/19.jpg');
	 background-size:cover; 
	text-align: center;

}

menu {
	display: inline;
		

}

#news-content{
	display: none;
}

li {
	list-style: none;
	font-size: 25px;
	display: block;

}


a{
	text-decoration: none;
	color: #25020a;
	font-family: fantasy;
}


 #rightButton {
 	font-size: 25px;
 	color: #6c0c11;
 }

 #rightButton:hover {
	color: darkblue;
	font-size: 35px;


}

#leftButton {
	font-size: 25px;
	color: #6c0c11;

}

#leftButton:hover {
	color:orange;
	font-size: 35px;

}

#form  {
	display: none;	
}

#done {
	background: #ff0c00;
	border: 2px solid #ff0c00;
	border-radius: 4px;
	padding: 5px 12px;
	font-family: Lobster;
	margin-bottom: 50px;
}

 #comments {
 	margin-bottom: 200px;
 	font-size: 25px;
 	font-family: monospace;
 	
 	
 	
 	

 	
 }
 





 #add-comment  {
 	padding-bottom: 250px;
 }

 .link {
 	font-family: lobster;
 	font-size: 25px;

 }