*{
	margin: 0 auto;
	box-sizing: border-box;
}

.menu {
	text-align: center;
}

.slider {
	text-align: center;
	 
} 


.slider img {
	margin-left: 50%;
	margin-right: 50%;
	text-align: center;
}

.hide{
	display: none;
}
.show{
	display: block;

	

}






body{
	height: 1000px;
	background-image: url('http://vnews.agency/uploads/1/19.jpg');
	background-size:cover; 

	
}







#news-content{
	display: none;
	text-align: center;
}

li {
	list-style: none;
	font-size: 25px;
	display: block;

}


a{
	text-decoration: none;
	color: #25020a;
	font-family: fantasy;
}


 #rightButton {
 	font-size: 25px;
 	color: #6c0c11;
 }

 #rightButton:hover {
	color: darkblue;
	font-size: 35px;


}

#leftButton {
	font-size: 25px;
	color: #6c0c11;

}

#leftButton:hover {
	color:orange;
	font-size: 35px;

}





 .col-lg-2 h2 {
 	font-family: lobster;
 	color: #210306;
 	font-size: 35px;
 	

 	
 }


 .comment-field {
	margin-right: 10px;
 }

